h2 {
    text-align: center;
}

.navbar-brand {
    padding: 0;
}

.edit-image {
    margin: 0 auto 15px;
}

.avatar_small {

    display: inline-block;

    vertical-align: top;
    height: 24px;
    width: 24px;
    padding: 12px;

}

.image-li {
    width: 50px;
    height: 50px;
}

article {
    margin-bottom: 15px;
}