<head>
    <meta charset="UTF-8">
    <title>VanillaBlog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel='stylesheet'>
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script>
        tinymce.init({
            selector: '#description'
        });
    </script>
</head>