<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-filestyle.min.js"> </script>
<script type="text/javascript" src="../js/vanilla-blog.js"> </script>
